<!DOCTYPE HTML>
<html>
	<head>
		<title>DC on Cloud Demo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/css/main.css" />
		
		{{!-- {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
		{{/each}} --}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>